body{
    margin: auto;
}
.containerNav{
    display: flex;
    background-color:#28414f;
    justify-content: space-between;
    align-items: center;
}
.containerLeft{
    margin-left: 7%;
    width: 55%;
}
.containerNav a{
    text-decoration: none;
    color:white;
    opacity: 0.8;
    font-size: 16px;
    margin-left: 2%;
}
.nav-link1{
    border-right: 1px solid white;
    /* opacity: 0.8;
    font-size: 16px; */
    padding-right: 4%;
}
.nav-link2{
    border-right: 1px solid white;
    /* opacity: 0.8;
    font-size: 16px; */
    padding-right: 4%;
}
.containerInRight{
    display: flex;
    /* margin-right: 4%; */
    width: 28%;
    justify-content: center;
    align-items: center;
}
.containerInRight div p{
    color: white;
    opacity: 0.8;
    font-size: 16px;
}
.InSoncontenedor{
    display: flex;
    align-items: center;
    gap: 4%;
    width: 100%;
}
.containerInSon1{
    margin-right: 10%;
    display: flex;
    align-items: center;
    gap: 12%;
    width: 40%;
}
.containerInSon2{
    margin-right: 10%;
    display: flex;
    align-items: center;
    gap: 12%;
}
.containerInSon3{
    width: 20px;
    height: 3vh;
}




.containerUp{
    background-image: url("img/fondos1.1.png");
    background-size: cover;
    height: 70vh;
    padding-right: 5%;
    padding-left: 5%;
}
.upFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upFirst2{
    background-color: lightgray;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upSecond{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20vh;
}
.upSecond2{
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.upSecondHijo1{
    display: flex;
}
.son1{
    
}






.containerDown{
    height: 30vh;
}